<h1>Users#create</h1>
<p>Find me in app/views/users/create.html.erb</p>
Success! Created user
<img src = "http://24.media.tumblr.com/a6a001fbb85667cc031f8bdb1d8fbce9/tumblr_mgzojnX2TT1s3layeo1_500.jpg">