<h1>Create New</h1>
  <%= form_for @user do |f| %> <!-- Create form for user object -->
    Name: <%= f.text_field :name %> <!-- Create a text field that sends its value under the key name-->
    Age: <%= f.number_field :age %><!-- Create a text field that sends its value under the key email -->
    <%= f.submit %> <!-- Create submit button-->
  <% end %><br><br>
<img src = "http://24.media.tumblr.com/a6a001fbb85667cc031f8bdb1d8fbce9/tumblr_mgzojnX2TT1s3layeo1_500.jpg" width = "200">


